@media (min-width:641px) {
  .footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #08664F;
  }

  .footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    height: 144px;
  }

  .nav_container {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
  }

  .logo-img-link {
    margin-left: 0px;
  }

  .footer_menu-list {
    display: flex;
    color: #fff;
    list-style-type: none;
  }

  .footer_menu-list-item {
    padding-right: 60px;
  }
  .socials-list {
    display: flex;
    margin-right: 27px;
    list-style-type: none;
    position: relative;
  }

  .social-list-item {
    padding-left: 15px;
  }

  .social-list-link {
    display: block;
    width: 35px;
    height: 35px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .instagram {
    position: relative;
    background: url("https://i.postimg.cc/4yS8HN4h/Vector.png") no-repeat center
        center/ 35px 35px,
      radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
  }
  .whatsApp {
    position: relative;
    z-index: 999;
    background: url("https://i.postimg.cc/rFQX1PNV/WA.png") no-repeat center
      center/ 35px 35px;
  }
  .telegram {
    position: relative;
    z-index: 999;
    background: url("https://i.postimg.cc/TYwG4xwL/telegram-1.png") no-repeat center
      center/ 35px 35px;
  }
}