@media (min-width: 641px) {
  .slider-controll {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 0px;
  }
  
  .sliderBack:hover path {
    cursor: pointer;
    fill: green;
  }
  .sliderForward:hover path {
    cursor: pointer;
    fill: green;
  }
}